Repository AppleStop/AppleStop-iOS, pull requests merged in 2022-04, with the labels that each got.

#10 [ADD] Splash & Onboarding 구현
  AppleStop/AppleStop.xcodeproj/project.pbxproj
  AppleStop/AppleStop.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/logo_barcode.imageset/Contents.json
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/logo_barcode.imageset/logo_barcode.png
  AppleStop/AppleStop/Screens/Onboarding/View/OnboardingView.swift
  AppleStop/AppleStop/Screens/Onboarding/View/OnboardingViewFour.swift
  AppleStop/AppleStop/Screens/Onboarding/View/OnboardingViewOne.swift
  AppleStop/AppleStop/Screens/Onboarding/View/OnboardingViewThree.swift
  AppleStop/AppleStop/Screens/Onboarding/View/OnboardingViewTwo.swift
  AppleStop/AppleStop/Screens/Onboarding/View/SplashScreenView.swift
Labels: good first issue

#13 [ADD] 캐릭터 보관함 레이아웃 완료
  AppleStop/AppleStop.xcodeproj/project.pbxproj
  AppleStop/AppleStop.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  AppleStop/AppleStop/Global/Extension/Color+Extension.swift
  AppleStop/AppleStop/Screens/AppleStopApp.swift
  AppleStop/AppleStop/Screens/Character/Component/CharacterCardView.swift
  AppleStop/AppleStop/Screens/Character/Component/UserInformationView.swift
  AppleStop/AppleStop/Screens/Character/View/CharacterView.swift
Labels: 🌸 Duna, 🖼 UI, ◾️ Character

#12 [ADD] 홈 화면 UI 구성
  AppleStop/AppleStop.xcodeproj/project.pbxproj
  AppleStop/AppleStop/Global/Extension/Color+Extension.swift
  AppleStop/AppleStop/Preview Content/Preview Assets.xcassets/flyingSquirrel.imageset/Contents.json
  AppleStop/AppleStop/Preview Content/Preview Assets.xcassets/flyingSquirrel.imageset/flyingSquirrel.png
  AppleStop/AppleStop/Screens/AppleStopApp.swift
  AppleStop/AppleStop/Screens/Home/Component/CharacterCardBackView.swift
  AppleStop/AppleStop/Screens/Home/Component/CharacterCardFrontView.swift
  AppleStop/AppleStop/Screens/Home/Component/LocationInformationView.swift
  AppleStop/AppleStop/Screens/Home/Component/MiniInformationView.swift
  AppleStop/AppleStop/Screens/Home/View/HomeView.swift
Labels: 🌸 Alola, 🖼 UI, ◾️ Home

#20 [ADD] Card Flipping 애니메이션 구현
  AppleStop/AppleStop/Screens/Home/View/HomeView.swift
Labels: 🌸 Alola, 🖼 UI, ◾️ Home

#17 [ADD] 설정창 UI 구현
  AppleStop/AppleStop.xcodeproj/project.pbxproj
  AppleStop/AppleStop/Screens/Setting/View/FeedbackView.swift
  AppleStop/AppleStop/Screens/Setting/View/PrivacyPolicyView.swift
  AppleStop/AppleStop/Screens/Setting/View/ServiceTermView.swift
  AppleStop/AppleStop/Screens/Setting/View/SettingListView.swift
  AppleStop/AppleStop/Screens/Setting/View/SettingView.swift
  AppleStop/AppleStop/Screens/Tabbar/View/TabbarView.swift
Labels: 🌸 Nick, 🖼 UI, ◾️ Setting

#25 [ADD] 초기 닉네임 설정 화면 구성 #11
  AppleStop/AppleStop.xcodeproj/project.pbxproj
  AppleStop/AppleStop/Global/Extension/Color+Extension.swift
  AppleStop/AppleStop/Screens/Onboarding/View/NicknameView.swift
  AppleStop/AppleStop/Screens/Onboarding/View/OnboardingViewFour.swift
  AppleStop/AppleStop/Screens/Onboarding/View/OnboardingViewOne.swift
  AppleStop/AppleStop/Screens/Onboarding/View/OnboardingViewThree.swift
  AppleStop/AppleStop/Screens/Onboarding/View/OnboardingViewTwo.swift
  AppleStop/AppleStop/Screens/Onboarding/View/SplashScreenView.swift
Labels: 🌸 Oz, 🖼 UI, ◾️ Setting

#23 [ADD] 캐릭터 Component 뷰 UI 구현
  AppleStop/AppleStop.xcodeproj/project.pbxproj
  AppleStop/AppleStop/Global/Extension/Color+Extension.swift
  AppleStop/AppleStop/Global/Literal/ImageLiteral.swift
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/img_lock.imageset/Contents.json
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/img_lock.imageset/img_lock.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/img_lock.imageset/img_lock@2x.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/img_lock.imageset/img_lock@3x.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/img_newcharacter.imageset/Contents.json
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/img_newcharacter.imageset/img_newcharacter.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/img_newcharacter.imageset/img_newcharacter@2x.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/img_newcharacter.imageset/img_newcharacter@3x.png
  AppleStop/AppleStop/Models/Character.swift
  AppleStop/AppleStop/Models/User.swift
  AppleStop/AppleStop/Screens/AppleStopApp.swift
  AppleStop/AppleStop/Screens/Character/Component/CharacterCardView.swift
  AppleStop/AppleStop/Screens/Character/Component/CharacterDetailView.swift
  AppleStop/AppleStop/Screens/Character/Component/UserInformationView.swift
  AppleStop/AppleStop/Screens/Character/View/CharacterPopupView.swift
  AppleStop/AppleStop/Screens/Character/View/CharacterView.swift
Labels: 🌸 Duna, 🖼 UI, ◾️ Character

#29 [ADD] TabBar 커스텀, Navigation 구현
  AppleStop/AppleStop.xcodeproj/project.pbxproj
  AppleStop/AppleStop.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  AppleStop/AppleStop/Screens/Tabbar/View/TabbarView.swift
  AppleStop/AppleStop/Screens/Tabbar/View/ViewRouter.swift
Labels: 🌸 Nick, 🖼 UI, ◾️ Tabbar

#27 [ADD] 홈화면 분리수거 실천도 및 사용자 레벨 차트 구현
  AppleStop/AppleStop.xcodeproj/project.pbxproj
  AppleStop/AppleStop/Global/Extension/Color+Extension.swift
  AppleStop/AppleStop/Screens/Home/Component/LevelInformationView.swift
  AppleStop/AppleStop/Screens/Home/Component/LocationInformationView.swift
  AppleStop/AppleStop/Screens/Home/Component/MiniInformationView.swift
  AppleStop/AppleStop/Screens/Home/Component/WasteInformationView.swift
  AppleStop/AppleStop/Screens/Home/View/HomeView.swift
Labels: 🌸 Alola, 🖼 UI, ◾️ Home

#35 [FEAT] 캐릭터 팝업, 캐릭터 뷰 연결
  AppleStop/AppleStop.xcodeproj/project.pbxproj
  AppleStop/AppleStop.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  AppleStop/AppleStop/Global/Extension/Color+Extension.swift
  AppleStop/AppleStop/Screens/Character/Component/CharacterDetailView.swift
  AppleStop/AppleStop/Screens/Character/Component/UserInformationView.swift
  AppleStop/AppleStop/Screens/Character/Helper/BackgroundBlurView.swift
  AppleStop/AppleStop/Screens/Character/Helper/ViewControllerHolder.swift
  AppleStop/AppleStop/Screens/Character/View/CharacterPopupView.swift
  AppleStop/AppleStop/Screens/Character/View/CharacterView.swift
Labels: 🌸 Duna, 🖼 UI, ◾️ Character

#38 [ADD/CHORE] 닉네임 정보 저장 구현, 온보딩ui수정
  AppleStop/AppleStop/Global/Extension/Color+Extension.swift
  AppleStop/AppleStop/Screens/Onboarding/View/NicknameView.swift
  AppleStop/AppleStop/Screens/Onboarding/View/OnboardingViewFour.swift
  AppleStop/AppleStop/Screens/Onboarding/View/OnboardingViewOne.swift
  AppleStop/AppleStop/Screens/Onboarding/View/OnboardingViewThree.swift
  AppleStop/AppleStop/Screens/Onboarding/View/OnboardingViewTwo.swift
Labels: 🌸 Oz, ◾️ Setting, ◾️ Onboarding

#44 [CHORE] Tabbar 좀 더 위로 수정
  AppleStop/AppleStop/Screens/Tabbar/View/TabbarView.swift
Labels: 🌸 Nick, 🖼 UI, ◾️ Tabbar

#46 [CHORE] splashscreen time 축소
  AppleStop/AppleStop/Screens/Onboarding/View/OnboardingViewMain.swift
  AppleStop/AppleStop/Screens/Onboarding/View/SplashScreenView.swift
Labels: 🌸 Oz, 🖼 UI, ◾️ Splash

#48 [CHORE] 커스텀토글 크기변경 & 바텀시트 상단크기변경
  AppleStop/AppleStop/Global/UIComponent/CustomToggle.swift
  AppleStop/AppleStop/Screens/Camera/View/CameraView.swift
Labels: 🌸 Miller, 🖼 UI, ◾️ Camera

#50 [ADD] 분리수거 실천도 팝업 생성 및 연결
  AppleStop/AppleStop.xcodeproj/project.pbxproj
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/Glass.imageset/Contents.json
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/Glass.imageset/Glass.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/can.imageset/Contents.json
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/can.imageset/can.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/paper.imageset/Contents.json
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/paper.imageset/paper.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/plastic.imageset/Contents.json
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/plastic.imageset/plastic.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/rubber.imageset/Contents.json
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/rubber.imageset/rubber.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/vinyl.imageset/Contents.json
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/vinyl.imageset/vinyl.png
  AppleStop/AppleStop/Screens/Home/Component/LevelInformationView.swift
  AppleStop/AppleStop/Screens/Home/Component/WasteInformationView.swift
  AppleStop/AppleStop/Screens/Home/View/HomeView.swift
  AppleStop/AppleStop/Screens/Home/View/WastePopupView.swift
Labels: 🌸 Alola, 🖼 UI, ◾️ Home

#49 [Feat] 설정창 알림기능 구현
  AppleStop/AppleStop.xcodeproj/project.pbxproj
  AppleStop/AppleStop/Screens/AppleStopApp.swift
  AppleStop/AppleStop/Screens/Setting/View/NotificationManager.swift
  AppleStop/AppleStop/Screens/Setting/View/NotificationView.swift
  AppleStop/AppleStop/Screens/Setting/View/SettingListView.swift
  AppleStop/AppleStop/Screens/Setting/View/SettingView.swift
Labels: 🌸 Nick, ◾️ Setting

#51 [ADD] 분리수거 실천도, 레벨 차트 애니메이션 추가
  AppleStop/AppleStop/Screens/Home/Component/LevelInformationView.swift
  AppleStop/AppleStop/Screens/Home/Component/WasteInformationView.swift
  AppleStop/AppleStop/Screens/Home/View/WastePopupView.swift
Labels: 🌸 Alola, 🖼 UI, ◾️ Home

#52 [CHORE] 서치바 추가 외 코드 정리(#5)
  AppleStop/AppleStop.xcodeproj/project.pbxproj
  AppleStop/AppleStop/Global/Literal/ImageLiteral.swift
  AppleStop/AppleStop/Screens/AppleStopApp.swift
  AppleStop/AppleStop/Screens/Guide/CardStruct.swift
  AppleStop/AppleStop/Screens/Guide/View/CardView.swift
  AppleStop/AppleStop/Screens/Guide/View/GuideDetailView.swift
  AppleStop/AppleStop/Screens/Guide/View/GuideView.swift
  AppleStop/AppleStop/Screens/Guide/View/ListView.swift
  AppleStop/AppleStop/Screens/Guide/View/SeachBar.swift
Labels: 🌸 Teemo, 🖼 UI, ◾️ Guide

#53 [Chore] 설정창 알림 기능 개선
  AppleStop/AppleStop/Screens/Setting/View/NotificationManager.swift
Labels: 🌸 Nick, ◾️ Setting

#54 [ADD] 바코드 오픈API구현 & 바텀시트 가이드라인뷰 연결 & 워터마크 크기 수정
  AppleStop/AppleStop.xcodeproj/project.pbxproj
  AppleStop/AppleStop/Global/Extension/UIImage+Extension.swift
  AppleStop/AppleStop/Global/Resource/APICaller.swift
  AppleStop/AppleStop/Info.plist
  AppleStop/AppleStop/Models/Product.swift
  AppleStop/AppleStop/Screens/AppleStopApp.swift
  AppleStop/AppleStop/Screens/Camera/View/CameraModel.swift
  AppleStop/AppleStop/Screens/Camera/View/CameraView.swift
  AppleStop/AppleStop/Screens/Camera/View/CodeGuideLineView.swift
  AppleStop/AppleStop/Screens/Guide/CardStruct.swift
Labels: 🌸 Miller

#55 [FEAT] 연결 완료
  AppleStop/AppleStop.xcodeproj/project.pbxproj
  AppleStop/AppleStop.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  AppleStop/AppleStop/Global/Extension/UINavigationController+Extension.swift
  AppleStop/AppleStop/Global/Literal/ImageLiteral.swift
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/AppIcon.appiconset/1024.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/AppIcon.appiconset/114.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/AppIcon.appiconset/120.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/AppIcon.appiconset/180.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/AppIcon.appiconset/29.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/AppIcon.appiconset/40.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/AppIcon.appiconset/57.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/AppIcon.appiconset/58.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/AppIcon.appiconset/60.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/AppIcon.appiconset/80.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/AppIcon.appiconset/87.png
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/img_barcode.imageset/Contents.json
  AppleStop/AppleStop/Global/Resource/Assets.xcassets/img_barcode.imageset/img_barcode.png
  AppleStop/AppleStop/Models/Character.swift
  AppleStop/AppleStop/Models/User.swift
  AppleStop/AppleStop/Screens/AppleStopApp.swift
  AppleStop/AppleStop/Screens/Character/Component/UserInformationView.swift
  AppleStop/AppleStop/Screens/Character/View/CharacterView.swift
  AppleStop/AppleStop/Screens/Guide/View/GuideDetailView.swift
  AppleStop/AppleStop/Screens/Guide/View/GuideView.swift
  AppleStop/AppleStop/Screens/Home/Component/CharacterCardBackView.swift
  AppleStop/AppleStop/Screens/Home/Component/CharacterCardFrontView.swift
  AppleStop/AppleStop/Screens/Home/View/HomeView.swift
  AppleStop/AppleStop/Screens/Onboarding/View/NicknameView.swift
  AppleStop/AppleStop/Screens/Onboarding/View/OnboardingViewMain.swift
  AppleStop/AppleStop/Screens/Onboarding/View/SplashScreenView.swift
  AppleStop/AppleStop/Screens/Tabbar/View/TabbarView.swift
  AppleStop/AppleStop/Screens/Tabbar/View/ViewRouter.swift
Labels: 🌸 Duna, ◾️ Home, ◾️ Tabbar, ◾️ Camera, ◾️ Guide, ◾️ Character, ◾️ Setting, ◾️ Onboarding, ◾️ Splash
